@model ProjectInfo
<table class="post-form">
    <tr>
        <th style="width: 150px;">楼盘名称：</th>
        <td>
            <input id="ProjectName" name="ProjectName" lay-verify="required" lay-msg="楼盘名称不能为空" class="layui-input" type="text" value="@Model.ProjectName">
        </td>
        <th>楼盘别名：</th>
        <td>
            <input id="ProjectOtherName" name="ProjectOtherName" class="layui-input" type="text" value="@Model.ProjectOtherName">
            @Html.HiddenFor(model => model.CreateBy)
            @Html.HiddenFor(model => model.CreateTime)
            @Html.HiddenFor(model => model.UpdateBy)
            @Html.HiddenFor(model => model.UpdateTime)
        </td>
    </tr>
    <tr>
        <th>用途：</th>
        <td>
            @Html.DropDownList("Purpose", ViewData["PurposeData"] as SelectList, "-请选择-", new { @class = "layui-input" })
        </td>
        <th>装修：</th>
        <td>
            @Html.DropDownList("Fitment", ViewData["FitmentData"] as SelectList, "-请选择-", new { @class = "layui-input" })
        </td>
    </tr>
    <tr>
        <th>开发商：</th>
        <td>
            <input id="ProjectDeveloper" name="ProjectDeveloper" class="layui-input" type="text" value="@Model.Developer">
        </td>
        <th>楼盘均价：</th>
        <td>
            <input id="AvgPrice" name="AvgPrice" class="layui-input" lay-verify="number" type="text" value="@Model.AvgPrice">
        </td>
    </tr>
    <tr>
        <th>行政区：</th>
        <td>
            @Html.DropDownList("ProvinceId", ViewData["ProvinceData"] as SelectList, "-请选择-", new { @class = "layui-input" })
            @Html.DropDownList("CityId", ViewData["CityData"] as SelectList, "-请选择-", new { @class = "layui-input" })
            @Html.DropDownList("AreaId", ViewData["AreaData"] as SelectList, "-请选择-", new { @class = "layui-input" })
        </td>
        <th>特色：</th>
        <td>
            <input id="Feature" name="Feature" class="layui-input" type="text" value="@Model.Feature">
        </td>
    </tr>
    <tr>
        <th>地址：</th>
        <td colspan="3">
            <input id="Address" name="Address" class="layui-input" type="text" value="@Model.Address">
        </td>
    </tr>
    <tr>
        <th>经度：</th>
        <td>
            <input id="Longitude" name="Longitude" class="layui-input" lay-verify="number" lay-msg="输入有误" type="text" value="@Model.Longitude">
        </td>
        <th>纬度：</th>
        <td>
            <input id="Latitude" name="Latitude" class="layui-input" lay-verify="number" lay-msg="输入有误" type="text" value="@Model.Latitude">
        </td>
    </tr>
    <tr>
        <th>使用年限：</th>
        <td>
            <input id="UsefulLife" name="UsefulLife" class="layui-input" lay-verify="number" lay-msg="输入有误" type="text" value="@Model.UsefulLife">
        </td>
        <th>总套数：</th>
        <td>
            <input id="TotalHouseCount" name="TotalHouseCount" class="layui-input" lay-verify="number" lay-msg="输入有误" type="text" value="@Model.TotalHouseCount">
        </td>
    </tr>
    <tr>
        <th>占地面积：</th>
        <td>
            <input id="LandArea" name="LandArea" class="layui-input" lay-verify="number" lay-msg="输入有误" type="text" value="@Model.LandArea">
        </td>
        <th>建筑面积：</th>
        <td>
            <input id="BuildingArea" name="BuildingArea" class="layui-input" lay-verify="number" lay-msg="输入有误" type="text" value="@Model.BuildingArea">
        </td>
    </tr>
    <tr>
        <th></th>
        <td>
            <button id="post_btn" type="submit" class="layui-btn" lay-submit="" lay-filter="post">保 存</button>
            <a href="javascript:void(0)" onclick="parent.CloseWindow();" class="layui-btn layui-btn-normal">返回列表</a>
        </td>
    </tr>
</table>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form,
        layer = layui.layer;
        //自定义验证规则
        form.verify({
            confirmPassword: function (value) {
                if (value != $('#Password').val()) {
                    return '两次输入密码不一致！';
                }
            }
        });
        //监听提交
        form.on('submit(post)', function (data) {
            console.log(JSON.stringify(data.field));
            return true;
        });
    });
</script>
