@model UserInfo
<table class="post-form">
    <tr>
        <th style="width: 150px;">用户名：</th>
        <td>
            <input id="UserName" name="UserName" lay-verify="required" lay-msg="用户名不能为空" class="layui-input" type="text" value="@Model.UserName"
                    @(string.IsNullOrEmpty(Model.ID)?"":"disabled=\"disabled\"")>
        </td>
    </tr>
    @if (string.IsNullOrEmpty(Model.ID))
    {
        <tr>
            <th>登录密码：</th>
            <td>
                <input id="Password" name="Password" lay-verify="required" lay-msg="登录密码不能为空" class="layui-input" type="password" value="@Model.Password">
            </td>
        </tr>
        <tr>
            <th>确认密码：</th>
            <td>
                <input id="Password0" name="Password0" lay-verify="confirmPassword" class="layui-input" type="password" value="@Model.Password">
            </td>
        </tr>
    }
    <tr>
        <th>姓名：</th>
        <td>
            <input id="RealName" name="RealName" lay-verify="required" lay-msg="姓名不能为空" class="layui-input" type="text" value="@Model.RealName">
        </td>
    </tr>
    <tr>
        <th>超级管理员：</th>
        <td>
            <input name="IsAdmin" lay-skin="switch" lay-text="是|否" checked="@(Model.IsAdmin?"checked":"")" type="checkbox">
        </td>
    </tr>
        <tr>
            <th>所属角色:</th>
            <td>
                @Html.DropDownList("RoleID", ViewData["Roles"] as SelectList, "-请选择-", new { @class = "layui-input" })
            </td>
        </tr>
    <tr>
        <th></th>
        <td>
            <button id="post_btn" type="submit" class="layui-btn" lay-submit="" lay-filter="post">保 存</button>
            <a href="javascript:void(0)" onclick="parent.CloseWindow();" class="layui-btn layui-btn-normal">返回列表</a>
        </td>
    </tr>
</table>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form,
        layer = layui.layer;
        //自定义验证规则
        form.verify({
            confirmPassword: function (value) {
                if (value != $('#Password').val()) {
                    return '两次输入密码不一致！';
                }
            }
        });
        //监听提交
        form.on('submit(post)', function (data) {
            console.log(JSON.stringify(data.field));
            return true;
        });
    });
</script>
