@model Pager<GetUserListResponse>
@{
    ViewBag.Title = "用户列表";
}

<div class="container">
    @using (Html.BeginForm("UserList", "System", FormMethod.Get, new { @class = "layui-form search-form layui-elem-quote", @id = "searchForm" }))
    {
        <table>
            <tr>
                <th>用户名：</th>
                <td>
                    <input id="UserName" name="UserName" class="layui-input" type="text">
                </td>
                <th>姓名：</th>
                <td>
                    <input id="Name" name="Name" class="layui-input" type="text">
                </td>
                @*<th>起止时间：</th>
                    <td>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input id="StartTime" name="StartTime" class="layui-input" type="text">
                            </div>-
                            <div class="layui-input-inline">
                                <input id="EndTime" name="EndTime" class="layui-input" type="text">
                            </div>
                        </div>
                    </td>*@
                <td>
                    <input type="submit" class="layui-btn layui-btn-sm" value="查 询" />
                </td>
            </tr>
        </table>
    }
    <div style="padding:0px 10px;">
        <a class="layui-btn layui-btn-sm layui-btn-normal" href="javascript:void(0);" onclick="AddOrEdit()">
            <i class="layui-icon layui-icon-tianjia2"></i>添加用户
        </a>
    </div>
    <table class="layui-table" id="list">
        <thead>
            <tr>
                <th style="text-align:center;">#</th>
                <th>用户ID</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>所属角色</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @{ int index = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:20px; text-align:center;">@(index++)</td>
                    <td>@item.ID</td>
                    <td>@item.UserName</td>
                    <td>@item.RealName</td>
                    <td>@(item.IsAdmin ? "超级管理员" : item.RoleName)</td>
                    <td>@item.CreateUser</td>
                    <td>@item.CreateTime</td>
                    <td>
                        <a class="layui-btn layui-btn-normal layui-btn-xs" onclick="AddOrEdit('@item.ID')"><i class="layui-icon layui-icon-bianji"></i>编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" onclick="javascript:Delete('/System/UserDelete/@item.ID');"><i class="layui-icon layui-icon-delete"></i>删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("_Pager", Model)
</div>
<script>
    function AddOrEdit(id) {
        if (id == undefined) {
            ShowMaxWindow('===添加用户信息===', '/System/UserAdd');
        }
        else {
            ShowMaxWindow('===编辑用户信息===', '/System/UserEdit/' + id);
        }
    }

    //layui.use(['laydate'], function () {
    //    var laydate = layui.laydate
    //    //日期
    //    laydate.render({
    //        elem: '#StartTime'
    //    });
    //    laydate.render({
    //        elem: '#EndTime'
    //    });
    //});
</script>